/* About CSS */

#main {
  padding: 1% 7%;
}
.about-banner-icon1 {
  position: absolute;
  width: 5%;
  top: 26%;
  right: 80%;
}

.about-h1 {
  padding-top: 18%;
  padding-bottom: 5%;
  font-size: 4rem;
}

.about-box {
  display: flex;
  align-items: flex-start;
  margin-top: 15%;
  margin-bottom: 10%;
}

.about-image {
  max-width: 100%;
  width: 36%;
  border-radius: 5px;
  border: solid 0.01rem var(--blue);
}

.about-content  p {
  margin-bottom: 2%;
}