/* About CSS */

#main {
  padding: 1% 7%;
}
.about-banner-icon1 {
  position: absolute;
  width: 5%;
  top: 26%;
  right: 80%;
}

.about-h1 {
  padding-top: 12%;
  padding-bottom: 5%;
  font-size: 3.6rem;
}

.about-box {
  display: flex;
  align-items: flex-start;
  margin-top: 15%;
  margin-bottom: 10%;
}

.about-image {
  max-width: 100%;
  width: 38%;
}

.about-content  p {
  margin-bottom: 2%;
  font-size: 1.1rem;
}