/* Style Guide CSS */

/* Colors */
:root {
  --beige: #FAF6EC; 
  --blue: #1E74DA; 
  --grey: #313131; 
  --pale-blue: #DDE5EA;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--beige);
  margin: 0;
}

h1,h2,h3,h4 {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  margin: 0;
  color: var(--blue);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

#main {
}

.style-h1 {
  padding-top: 25%;
  padding-bottom: 2%;
}

#visual-style {
  margin-top: 19%;
  background-color: white;
  padding: 4rem 7rem;
  border-top: solid 0.01rem var(--blue);
}

#visual-style h2 {
  margin-top: 7%;
  margin-bottom: 3%;
}

.banner {
  margin: 0;
  height:27vw;
  padding: 0 7rem;
}

.banner p {
  color: var(--grey);
  max-width: 60%;
  font-size: 1.2rem;
}

.element {
  padding-bottom: 5rem;
  padding-top: 3rem;
  border-top-width: 0.01rem;
  border-top-style: solid;
  border-top-color: var(--blue);
}

.element h3 {
  margin-bottom: 2%;
}
.element h4 {
  margin-bottom: 2%;
  margin-top: 2.4%;
}


p {
  margin: 0;
  color: var(--grey);
  max-width: 75%;
}

code {
  background-color: var(--pale-blue);
  padding: 0.6rem;
  display: block;
  color:#8f8f98;
  max-width: 70%;
}

.logo-style {
  max-width: 100%;
  height: auto;
  width: 5%;
  margin-right: 1%;
}

.header-box {
  display: flex;
  align-items: center;
  position: fixed;
  max-width: 100%;
  width: 100%;
  background-color: var(--beige);
  z-index: 2;
  border-bottom: solid 0.01rem var(--blue);
}

.logo {
  max-width: 100%;
  height: auto;
  width: 48%;
  margin-right: 1%;
  margin-top: 6%;
}

.logo-link {
  transition: 0.5s ease;
  padding-left: 5%;
  display: inline-block;
}

.logo-link:hover, .logo-link:focus {
  transform: scale(1.1);
}

.breadcrumbs {
  display: flex;
  margin-top: 10%;
  margin-bottom: 5%;
  color: var(--dark-grey);
}

.breadcrumbs p {
  margin: 0 1%;
}

.breadcrumbs-link {
  text-decoration: none;
  color: var(--accent-red);
}

.breadcrumbs-link:hover, .breadcrumbs-link:focus {
  color: var(--dark-beige);
}


/* Mobile burger menu */
.burger-button {
   color: var(--accent-red);
   padding: 2%;
   position: absolute;
   top: 1%;
   right: 5%;
   font-size: 3.5rem;
   cursor: pointer;
   display: none;
   border: none;
   background-color: transparent;
}


.mobile-nav-links {
   display: none;
   background-color: var(--dark-beige);
   color: var(--white-cream);
   position: fixed;
   z-index: 1;
   padding: 5% 4%;
   max-width: 100%;
   width: 100%;
   height: 100%;
   right: 0;
   top: 0%;
   text-align: center;
}

.close-button {
  position: absolute;
  top: 1%;
  right: 5%;
  font-size: 5rem;
  background-color: transparent;
  border: none;
  color: var(--white-cream);
  cursor: pointer;
}


.mobile-nav-links a {
   display: none;
   padding: 5%;
   color: white;
   text-decoration: none;
   font-size: 1.6rem;
}

/* Citations */
.citations {
  padding-top: 10%;
}


/* Style Guide Nav */

.main-nav-style {
  display: flex;
  flex-direction: row;
  gap: 4%;
  flex: 2;
  justify-content: flex-end;
  padding: 2% 5%;
}

.main-nav-style a{
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  color: var(--dark-grey);
  text-decoration: none;
  transition: color 0.5s;
  display: flex;
  align-items: center;
  margin: 0;
}

.main-nav-style a:hover,.main-nav a:focus {
  color: var(--accent-red);
}

.logo-link-style {
  transition: 0.5s ease;
  padding-left: 5%;
  width: 8%;
}

.logo-link-style:hover, .logo-link-style:focus {
  transform: scale(1.1);
}

/* Newsletter section */

#newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newsletter h3 {
  color: #525252;
  margin: 0;
}

#newsletter .submit-button {
  margin-top: 6%;
  padding: 1rem 3.5rem;

}

#newsletter {
  padding: 4% 7%;
  background-color: rgb(179, 169, 142, 0.07);
  text-align: center;
}

/* Thank You Page */

.thank-you {
  font-size: 2rem;
  text-align: center;
  color: var(--dark-beige);
  padding: 17% 15%;
}

.thank-you-form {
  padding-top: 17%;
  font-size: 2rem;
  text-align: center;
  color: var(--dark-beige);
}

#thank-you p {
  text-align: center;
  max-width: 100%;
  margin-top: 1%;
  margin-bottom: 10%;
  width: 100%;
}


/* Footer */
footer {
  background-color: #F0E8DA;
  padding: 3% 6%;
}

.footer-box {
   display: flex;
}

footer p {
  font-size: 0.9rem;
  margin: 1% 0;
}

footer h3 {
  font-size: 1.5rem;
}

footer .logo {
  display: flex;
  width: 3%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  margin-right: 8%;
  margin-top: 2%;
  margin-bottom: 6%;
  flex: 1;
}

.address {
  margin-top: 2%;
  flex: 2;
}
.contact {
  margin-top: 2%;
  flex:2;
}

.links {
  margin-top: 2%;
  flex: 1;
}
.copyright {
  font-size: 0.8rem;
  margin-right: 7%;

}

.social-media {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;

}

.social-media svg {
  fill: var(--dark-grey);
  max-width: 100%;
  width: 50%;
}

.social-media svg:hover {
  fill: var(--accent-red);
}



.social-media-link {
  text-decoration: none;
}

/* Images as links */

.image-link:hover {
  opacity: 0.4;
  transition: 0.3s;
}

/* Arrow Button */


.arrow-button {
  color: var(--dark-beige);
  margin-bottom: 1em;
  position: relative;
  display: inline-block;
  text-decoration: none;
  max-width: 100%;
  width: 100%;
  margin-top: 5%;
  text-align: right;
}

.arrow-button svg path {
  width: 50%;
  fill: var(--accent-red);

}

.arrow-button svg {
  margin-left: 3%;
}

.arrow {
  text-decoration: none;
  color: var(--accent-red);
}

.arrow:hover, .arrow:focus {
    color: var(--dark-beige);
}

.arrow-button:hover .arrow-svg path {
  fill: var(--dark-beige);
}




/* 
  INTERACTIVE ELEMENTS -------------------
*/

#interactive_elements {
  margin-top: 22%;
}

.section-intro {
  margin-bottom: 6%;
  margin-top: 2%;

}
/* Styling for the in-text link */
.text-link {
  color: var(--blue);
  transition: color 0.4s ease;
}

.text-link:hover,
.text-link:focus {
  text-decoration: none;
  color: var(--blue);
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  color: var(--dark-grey);
  text-decoration: none;
  transition: color 0.5s;
}

.button-nav:hover, .button-nav:focus {
  color: var(--accent-red);
}

/* Styling for the submit button */
.submit-button {
  border-width:0;
  padding: 1rem 2.5rem;
  background-color: var(--accent-red);
  border-radius: 5px;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--white-cream);
  transition: background-color 0.5s ease;
}

.submit-button:hover, .submit-button:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--dark-beige);
}

/* Styling for the reset button */
.reset-button {
  font-size: 1.1rem;
  padding: 1rem 2.5rem;
  border: 1px solid var(--accent-red);
  border-radius: 5px;
  text-decoration: none;
  color: var(--accent-red);
  transition: background-color 0.5s ease;
}

.reset-button:hover, .reset-button:focus {
  text-decoration: none;
  background-color: var(--accent-red);
  color: var(--white-cream);
}

/* Styling for arrow button */

.element .arrow-button {
  text-align: left;
  margin: 0;
}

.element .arrow-button svg {
    margin-left: 1%;
  }

  .product-info .arrow-button {
    text-align: right;
  }

/* Styling for the input and label */
.input-box {
  display: block;
  position: relative;
  outline: none;
  width: 20%;
}

.input-box.focused label {
  transition: top 0.2s ease;
  top: -50%;
} 

.input-box label {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  position: absolute;
  top: 0px;
  display: inline-block;
  background: var(--white-cream);
  margin: 8px 5px;
  line-height: 1.4em;
  padding: 0 1%;
  transition: all .2s linear;
  text-transform: capitalize;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #AFA69B;
  border-radius: 5px;
  background-color: var(--white-cream);
}

input[type="text"]:focus, input[type="text"]:hover  {
  outline: none !important;
  border: 1px solid var(--accent-red); 
}

/* Styling for the radio button */

ul.radio {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.radio-list {
  margin-bottom: 1%;
}

.radio-text {
  margin-bottom: 1%;
}

#cake {
  margin-right: 1%;
}

input[type="radio"] {
  transform: scale(1.5);
}

input[type="radio"]:checked {
  accent-color: black;
}


/* Styling for the image */
.cakes {
  width: 50%;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.img-link {
  display: inline-block;
  position: relative;
  overflow: hidden; 
  max-width: 40%;
}

.img-link:hover, .img-link:focus {
  opacity: 0.4;
  transition: 0.3s;
}


/* 
  TEXT ELEMENTS -------------------
*/

.text-el {
  margin-top: 4%;
}

/* Styling for the headings */
h1.headings {
  font-size: 4rem;
  margin-top: 2%;
  margin-bottom: 1%;
}

h2.headings {
  font-size: 3rem;
  margin-top: 0;
}

h3.headings {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.3%;
}

h4.headings {
  font-size: 1.4rem;
  margin-top: 0;
}
/* 
  COMBINED ELEMENTS -------------------
*/

#combined_elements h2 {
  margin-top: 4%;
}

/* Styling for the main navigation */
.main-nav {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  gap: 7%;
  flex: 2;
  justify-content: flex-end;
  padding: 1.4% 5%;
}

.main-nav a{
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  color: var(--dark-grey);
  text-decoration: none;
  transition: color 0.5s;
  display: flex;
  align-items: center;
  margin: 0;
}

.main-nav a:hover,.main-nav a:focus {
  color: var(--accent-red);
}

.cart {
  border-radius: 100%;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.5rem;
  background-color: #fff0;
  border: 1px solid var(--accent-red);
}


.cart:hover .cart-svg path, 
.cart:focus .cart-svg path {
  fill: #FEFCF8; /* Color on hover and focus */
}

.cart:hover {
  background-color: var(--accent-red); /* Background color on hover */
}

.cart-svg {
  max-width: 100%;
  width: 90%;
}

.cart-svg path {
  fill: var(--accent-red);
}

.sub-nav .sub-nav-button:hover {
    color: var(--accent-red);
}

.sub-nav .sub-nav-button {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  outline: none;
  transition: color 0.5s;
  color: var(--dark-grey);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.sub-nav .sub-nav-button i {
  margin-left: 5px; 
}

.sub-nav-content {
  display: none;
  max-width: 100%;
  width: 10%;
  position: absolute;
  z-index: 1;
  padding: 1% 0.5%;
}

.sub-nav-content a {
  color: #FEFCF8;
  font-size: 1rem;
  text-decoration: none;
  padding: 6% 6%;
}

.sub-nav-content a:hover {
  color: var(--accent-red);
}
.sub-nav:hover .sub-nav-content {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-beige);
}

/* Styling for the product listing */


.product-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 40%;
  max-width: 100%;
  background-color: rgb(255, 189, 21,0.03);
  padding: 2% 4%;
  transition: background-color .25s linear;
  margin-bottom: 2rem;
}

.element .product-box {
  width: 20%;
  padding: 1% 2%;
}

.product-box:hover {
  background-color: rgb(255, 189, 21,0.07);
}

.product-box h2 {
  font-size: 1.7rem;
}

.product-box p {
  font-size: 0.9rem;
  margin-bottom: 5%;
}

.product-box h3 {
  font-size: 1.3rem;
  margin:0;
  color: rgb(60, 60, 60,0.6);
  margin-bottom: 5%;
}

.product-img {
  max-width: 100%;
  border-radius: 5px;
}

.product-text {
  max-width: 100%;
  margin-bottom: 3%;
}



.product-buttons {
  text-align: right;
}

/* Styling for the payment form */
.payment-box {
  display: flex;
  flex-direction: column;
}

.payment-box {
  margin-top: 1%;
}

.payment-box div {
  margin-top: 1.4%;
}

.payment-text {
  color: #a3a3a3;
  margin-top: 0;
}

.method {
  margin-top: 2%;
  margin-bottom: 1.4%;
}

.credit {
  margin-bottom: 0.5%;
}

.payment-el input[type="radio"] {
  margin-right: 1%;
}

.payment-box .input-box label[for="cvv"] + .text-field-input {
  margin-bottom: 10%;
}

/* Styling for the checkout cart */

.checkout-box {
  display: flex;
  flex-direction: row;
}
.checkout-box img {
  max-width: 100%;
  width: 20%;
  height: auto;
  margin-right: 2%;
  border-radius: 5px;
}

.checkout-text {
  display: flex;
  flex-direction: column;
}

.checkout-description {
  color: #a3a3a3;
  font-size: 0.8rem;
}

.checkout-button {
  margin-top: 5%;
}

/* 
  BRANDING IDEAS -------------------
*/
#branding_ideas h2 {
  margin-top: 5%;
  margin-bottom: 3%;
}

#branding_ideas p {
  margin-bottom: 3%;
}

.brand-headings {
  margin-top: 0;
  font-size: 3rem;
}

#brand_components h1 {
  margin-top: 5%;
  margin-bottom: 1%;
}

h2.brand-components {
  margin-top: 5%;
}

.brand-p {
  margin-bottom: 3%;
}

.color-palette {
  margin-top: 5%;
}

.white-cream {
  padding: 4%;
  background-color: var(--white-cream);
  border: 1px solid black;
}

.accent-red {
  margin-top: 2%;
  padding: 4%;
  background-color: var(--accent-red);
  border: 1px solid black;
}

.accent-red p {
  color: white;
}

.dark-beige {
  margin-top: 2%;
  padding: 4%;
  background-color: var(--dark-beige);
  border: 1px solid black;
}

.grey-black {
  margin-top: 2%;
  padding: 4%;
  background-color: var(--dark-grey);
  border: 1px solid black;
  margin-bottom: 4%;
}
.grey-black p {
  color: white;
}

.art-direction {
  margin-top: 5%;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 4%;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width: 80em) {

  footer .logo {
    margin-right: 5%;
    width: 9%;
  }
  footer p {
    font-size: 0.9rem;
  }

}
@media screen and (max-width: 65em) {
  .footer-box {
    flex-direction: column; 
    align-items: center; 
  }

  footer .logo {
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  footer p {
    text-align: center;
    margin: 0;
    max-width: 100%;
  }

  footer h3 {
    text-align: center;
  }

  .links {
    margin-bottom: 8%;
  }

}

@media screen and (max-width: 60em) {
  .logo-link {
    margin-left: 0;
  }

  .social-media {
    justify-content: center;
  }

  .copyright {
    display: none;
  }


  #newsletter {
    padding: 10% 10%;
  }


}

@media screen and (max-width: 45em) {

  #main {
    padding: 3rem 3rem;
  }

  .mobile-nav-links a {
    padding: 7%;
  }

  .mobile-nav-links > a:nth-child(2) {
    margin-top: 25%;
  } 

  .breadcrumbs {
    margin-top: 30%;
  }



  #newsletter {
    padding: 20% 10%;
  }

  .thank-you {
    padding: 45% 5%;

  }

  .thank-you-form {
    padding-top: 45%;
    font-size: 3rem;
    margin:0;
    margin-bottom: 5%;
  }

  #thank-you p {
    margin-bottom: 30%;
  }

}

@media screen and (max-width: 50em) {
  .burger-button {
    display: block;
  }

  .mobile-nav-links > a:nth-child(2) {
    margin-top: 18%;
  } 

  .logo-link {
    margin: 1% 0;
  }

  .mobile-nav-links a {
   display: block;
  }
  .main-nav {
    display: none;
  }
  footer .logo { 
    margin: 5% 0;
    width: 18%;
  }

  .copyright {
    margin-bottom: 5%;
  }

  .cart-svg {
    width: 20%;
  }

  .cart-svg path {
    fill: #FEFCF8;
  }

}

