/* Project 1 VIFF CSS */


#overview, #final, #client, #research, #passport, #design, #feedback, #art, #mockups, #takeaways {
	border-top: solid 0.01rem var(--light-purple);
	padding: 6rem 14rem;
}


#final h2 {
	margin-bottom: 4%;
}


.viff {
	margin: 4% 0;
	max-width: 100%;
	width: 90%;
}

.museum {
	margin-top: 5%;
	width: 50%;
}

.sitemap {
	width: 80%;
}

.moodboard {
	padding-top: 5%;
	width: 100%;
}

.mockups {
	width: 100%;
	margin-bottom: 2%;
	border: solid 0.01rem var(--purple);
}

.lp {
	margin-top: 1%;
	width: 100%;
	border: solid 0.01rem var(--purple);
}
.lp-2 {
	margin-top: 5%;
	width: 100%;
	border: solid 0.01rem var(--purple);
}